---
layout: default
title: Home
---

<div class="posts">
    {% for post in paginator.posts %}
        <div class="post">
            <h1 class="post-title">
                <a href="{{ post.url }}">
                {{ post.title }}
                </a>
            </h1>
            <span class="post-date">
                {{ post.date | date_to_string }}
            </span>
            {% for category in post.categories %}
              <span class="post-categories">
                  <a href="{{ site.baseurl }}reading-lists/{{ category }}">
                      {{ category | capitalize }}
                  </a>
              </span>
            {% endfor %}
            {{ post.excerpt| remove_first: "&lt;!--more--&gt;" }}
        </div>
    {% endfor %}
</div>

<div class="pagination row">
    <div class="col-4">
        <span>
            {% if paginator.previous_page %}
                <a href="{{paginator.previous_page_path}}"><i class="fa fa-chevron-left fa-fw" aria-hidden="true"></i> Newer</a>
            {% else %}
                <p>Nothing Newer!</p>
            {% endif %}
        </span>
    </div>

    <p class="col-4"> Page {{ paginator.page }} of {{ paginator.total_pages }} </p>
    <div class="col-4">
        {% if paginator.next_page %}
            <a href="{{paginator.next_page_path}}">Older <i class="fa fa-chevron-right fa-fw" aria-hidden="true"></i></a>
        {% else %}
            <p> Ancient History! </p>
        {% endif %}
    </div>
</div>
