/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 48em) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 60em) {
    html {
        font-size: 20px;
    }
}


.iframeVideo {
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.2%;
    position: relative;
}
.iframeVideo iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}


/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
    text-align: center;
    padding: 1rem 1rem;
    color: rgba(255, 255, 255, .5);
    background-color: #202020;
}

@media (min-width: 48em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 14rem;
        padding: 1rem 0.5rem;
        text-align: left;
    }
}

@media (max-width: 48em) {
    .sidebar-nav {
        display: none;
        margin: 0 auto;
    }
    .sidebar-nav-item {
        display: inline;
        float: left;
        width: 15%;
    }
}

@media (max-width: 30em) {
    img {
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-height: 850px) {

    .sidebar-me {
        display: none;
    }
}


/* Sidebar links */

.sidebar a {
    color: #fff;
}


/* About section */

.sidebar-about h2 {
    color: #fff;
    margin-top: 0;
    font-family: 'Kurale', serif;
    font-size: 7rem;
}


/* Sidebar nav */

.sidebar-nav {
    bottom: 0;
    margin-bottom: 1rem;
}

.sidebar-me {
    height: auto;
    width: 252px;
}

.sidebar-nav-item {
    display: block;
    line-height: 1.75;
}

.sidebar a:hover, .sidebar a:focus {
    color: rgba(255, 255, 255, .5);
    text-decoration: none;
}

.sidebar-nav-item.active {
    font-weight: bold;
}

@media (min-width: 48em) {
    .sidebar-social {
        position: absolute;
        bottom: 20px;
    }
}


@media (max-width: 48em) {
    .sidebar-image {
        display: none;
    }
}

@media (min-width: 48em) {
    .sidebar-image {
        display: block;
    }
}


/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
    .sidebar-sticky {
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
    }
}


/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */

.content {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

@media (min-width: 48em) {
    .content {
        max-width: 38rem;
        margin-left: 24rem;
        margin-right: 2rem;
    }
}

@media (min-width: 64em) {
    .content {
        margin-left: 26rem;
        margin-right: 4rem;
    }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
    .layout-reverse .sidebar {
        left: auto;
        right: 0;
    }
    .layout-reverse .content {
        margin-left: 2rem;
        margin-right: 20rem;
    }
}

@media (min-width: 64em) {
    .layout-reverse .content {
        margin-left: 4rem;
        margin-right: 22rem;
    }
}


/*
 * Reading Lists
 * Style for a grid with items in a thumbnail-like format
 */

.reading-list-grid {
    overflow: auto;
    display: block;
}

.reading-list-grid > .reading-list-item {
    margin: 1%;
    width: 30%;
    float: left;
    text-align: center;
}

@media (max-width: 60em) and (min-width: 48em) {
    .reading-list-grid > .reading-list-item {
        margin: 1%;
        width: 48%;
    }
}

@media (max-width: 48em) {
    .reading-list-grid > .reading-list-item {
        margin: 1%;
        width: 30%;
    }
}

.reading-list-image {
    display: block;
    margin: auto;
}

.reading-list-item:hover, .reading-list-item:focus {
    background-color: lightgrey;
}

.rl-text:hover, .rl-text:focus {
    text-decoration: none;
}

/* Author Image Card */

.card {
    /* Add shadows to create the "card" effect */
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.author-image {
    width: 100%;
    border-radius: 0px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}


/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */


/* Base16 (https://chriskempson.github.io/base16/#default) */


/* Red */

.theme-base-08 .sidebar {
    background-color: #ac4142;
}

.theme-base-08 .content a, .theme-base-08 .related-posts li a:hover {
    color: #ac4142;
}


/* Orange */

.theme-base-09 .sidebar {
    background-color: #d28445;
}

.theme-base-09 .content a, .theme-base-09 .related-posts li a:hover {
    color: #d28445;
}

body {
    font-size: 0.9rem;
}


/* Yellow */

.theme-base-0a .sidebar {
    background-color: #f4bf75;
}

.theme-base-0a .content a, .theme-base-0a .related-posts li a:hover {
    color: #f4bf75;
}


/* Green */

.theme-base-0b .sidebar {
    background-color: #90a959;
}

.theme-base-0b .content a, .theme-base-0b .related-posts li a:hover {
    color: #90a959;
}


/* Cyan */

.theme-base-0c .sidebar {
    background-color: #75b5aa;
}

.theme-base-0c .content a, .theme-base-0c .related-posts li a:hover {
    color: #75b5aa;
}


/* Blue */

.theme-base-0d .sidebar {
    background-color: #6a9fb5;
}

.theme-base-0d .content a, .theme-base-0d .related-posts li a:hover {
    color: #6a9fb5;
}


/* Magenta */

.theme-base-0e .sidebar {
    background-color: #aa759f;
}

.theme-base-0e .content a, .theme-base-0e .related-posts li a:hover {
    color: #aa759f;
}


/* Brown */

.theme-base-0f .sidebar {
    background-color: #8f5536;
}

.theme-base-0f .content a, .theme-base-0f .related-posts li a:hover {
    color: #8f5536;
}
