<!-- Google Analytics -->
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-126631320-1', 'auto');

    ga('require', 'maxScrollTracker', {
        maxScrollMetricIndex: 1,
    });
    ga('require', 'cleanUrlTracker', {
        stripQuery: true,
        trailingSlash: "add",
    });
    ga('require', 'outboundLinkTracker');
    ga('require', 'pageVisibilityTracker',{
        visibleMetricIndex: 2,
    });

    ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script async src="{{ site.baseurl }}public/js/autotrack.js"></script>
