<div class="sidebar">
    <div class="container sidebar-sticky">
        <!-- add class sidebar-sticky to make it stick to bottom -->

        <div class="sidebar-image">
            <a href="{{ site.baseurl }}">
                <img class="sidebar-me img-fluid" src="{{site.baseurl}}public/images/me.png">
            </a>
        </div>

        <div class="sidebar-about">
            <h2>
                <a href="{{ site.baseurl }}">
                    {{ site.title }}
                </a>
            </h2>
            <p class="lead">
                {{ site.description }}
            </p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

            {% comment %}
                Dynamically generate a sidebar nav of pages with `layout: page` in the front-matter.
            {% endcomment %}

            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
                {% if node.title != null %}
                    {% if node.layout == "page" %}
                        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
                            {{ node.title }}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </nav>
        <div class="py-3">
            <a href="/about" class="fa fa-question social-icon mr-2"></a>
            <a href="https://twitter.com/rachoctothorpe" class="fab fa-twitter social-icon mr-2"></a>
            <a href="https://github.com/rach-sharp" class="fab fa-github social-icon mr-2"></a>
            <a href="/feed.xml" class="fa fa-rss social-icon mr-2"></a>
            <a href="mailto:me@rachsharp.co.uk" class="fa fa-envelope social-icon"></a>
        </div>
    </div>
</div>
